.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 136px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header__item {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}